<div class="row">
 <form class="form-horizontal">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">BOOK NAME</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="name" placeholder="Enter book name">
    
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">PRICE</label>
    <div class="col-sm-10">
      <input type="number"  class="form-control" ng-model="price"  placeholder="Enter book price">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">PUBLISHER</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="publisher"  placeholder="Enter publisher name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">AUTHOR</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="author"  placeholder="Enter author name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">ISBN</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="isbn"  placeholder="Enter isbn">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">NO OF PAGES</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="pages" placeholder="Enter no of pages">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">CATEGORY</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="category" placeholder="Enter book category">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">DESCRIPTIONS</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" ng-model="descriptions"  placeholder="Enter book description">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">OFFERS</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" ng-model="offers"  placeholder="Enter offers if any">
    </div>
  </div>
   <div class="form-group">
    <label for="inputPassword3" class="col-sm-2 control-label">PINCODE</label>
    <div class="col-sm-10">
      <input type="number" class="form-control" ng-model="pincode"  placeholder="Enter pincode where book is available">
    </div>
  </div>
 <!--  <div class="form-group" ng-init="pincodes=201206">
    <label for="inputPassword3" class="col-sm-2 control-label">PINCODES AVAILABILITY</label>
    <div class="col-sm-10">
 <input type="number" class="form-control" ng-model='pincode' >
    </div>
     
    </div> -->
    <!--  <label for="inputPassword3" class="col-sm-2 control-label">BOOKS AVAILABLE WITHIN</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div> -->
  </div>
<div class="form-group">
	<label for="inputPassword3" class="col-sm-2 control-label">UPLOAD IMAGE OF BOOK</label>
    <div class="col-sm-10">
   		


   <div class="btn btn-info" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'">Select image</div></div></div>
 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button ng-click="saveinfo()" class="btn btn-info">SAVE INFO</button>
    </div>
  </div>
</form>
</div>

